.App {
  text-align: center;
}

.main {
  width: 35%;
  border: 1px solid #ccc;
  /* Add border */
  border-radius: 8px;
  /* Add border radius for rounded corners */
  padding: 20px;
  /* Add padding for spacing */
  margin-bottom: 20px;
  /* Add margin to create space between each card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add box shadow for depth */
  display: flex;
  /* Use flexbox for layout */
  align-items: center;

}

.card-image {
  width: 100px;
  /* Set width of the image */
  height: auto;
  /* Allow height to adjust proportionally */
  margin-right: 20px;
  /* Add margin to the right of the image */
}

.card-details {
  flex: 1;
  flex-direction: column;
}

.main h3 {
  margin: 5px 0;
  /* Add margin to headings */
}

.open {
  background-color: #ff6666;
  /* Background color for the "open" status */
  color: white;
  /* Text color for the "open" status */
  padding: 5px 10px;
  /* Add padding to the "open" status */
  border-radius: 4px;
  /* Add border radius for rounded corners */
  margin-right: 10px;
  /* Add margin to the right of the open status */
}

/* Navbar.css */

.content-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  /* Position it below the links */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

#contentDropdown:hover .content-dropdown-menu {
  display: block;
}